body{
	margin:0px;
}
.card{
	width: 32.9vw;
	float: left;
	background: rgba(35, 79, 109, 0.41);
}
.card-in{
	text-align: center;padding:20px;
}
.goog{
	right: 0vw;top:80vh;position: fixed;background-color: rgba(35, 79, 109, 0.41); transform: rotate(-90deg);-ms-transform: rotate(-90deg);-webkit-transform: rotate(-90deg);
}
.header{
	z-index: 9999;color: #c71313;font-family:Harrington;width: inherit;text-align: center;position: fixed;width: 100%;background-color: rgba(35, 79, 109, 0.41);
}
.textc{
	text-align: center;
}
.img{
	position: relative;z-index: -1;background-repeat: no-repeat center;-webkit-filter: opacity(90%);filter: opacity(90%);
}
.r{
	color: #c71313
}
